@import "swiper/swiper";
@import "font";
@import "base";
@import "layout";
@import "modules/col";
@import "modules/sideBar";
@import "modules/presentation";
@import "modules/header";
@import "modules/decoration";
@import "modules/projet";
@import "modules/footer";
@import "modules/cursor";
@import "modules/carousel";
@import "modules/bio";
@import "bootstrap/scss/bootstrap-grid";
@import "../../node_modules/glightbox/dist/css/glightbox.css";

// for description img glightbox
// data-glightbox="title: My title; description: this is the slide description"
